<header class="header-area overlay">
    <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a href="#" class="navbar-brand">ORT</a>
      <div id="main-nav" class="collapse navbar-collapse  justify-content-end">
        <ul class="navbar-nav ml-auto">
       <li class="dropdown" >
            <a (click)="logout()" class="nav-item nav-link" data-toggle="dropdown">Déconnexion</a>
           
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
 
  </header>
