<div class="container"  >
    <div class="row" style="margin: 40px 0;">
       <div class="col-lg-10 mx-auto mb-4">
          <div class="section-title text-center ">
              <h3 class="top-c-sep"></h3>
              <p></p>
               </div>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto">
        <div class="career-search mb-60">
 
            <form action="#" class="career-form mb-60">
                <div class="row ">
                    <div class="col-md-6 col-lg-9 my-3">
                        <div class="input-group position-relative">
                            <input  type="search" (ngModelChange)="searchRecruteurs(key.value)" #key="ngModel" ngModel
                            name="key" id="searchName"  class="form-control" placeholder="Metier ,compétence,region, mot-clé" id="keywords" required>
                        </div>
                    </div>
                    
                    
                    <div class="col-md-6 col-lg-3 my-3">
                        <button type="button" class="btn btn-lg btn-block btn-light btn-custom" id="contact-submit">
                              Search    
                        </button>
                    </div>
                </div>
                </form>
 </div> 
 <div class="filter-result" *ngIf="recruteurs.length > 0">
          <div class="section-title text-center"><p class="mb-30 ff-montserrat "> {{recruteurs.length}} recruteurs disponible</p>
 </div>
 <div *ngIf="recruteurs?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
             <div class="alert alert-info" role="alert">
               <h4 class="alert-heading">PAS Recruteurs!</h4>
               <p>Aucun recruteur n'a été trouvé.</p>
             </div>
             </div>
             <div class="container" id="main-container">
               <div class="row">
                
           
                   <div *ngFor="let recruteur of recruteurs" class="col-md-6 col-xl-3">
                       <div class="card m-b-30">
                           <div class="card-body row">
                               <div class="col-6">
                                   <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxyeOS0AKnFWdHyDvdO_7-dxvTMiifLhe2dTYxqeIzbJSjrkEaBXMb&usqp=CAU" alt="" class="img-fluid rounded-circle w-60"></a>
                               </div>
                               <div class="col-6 card-title align-self-center mb-0">
                                   <h5>{{recruteur?.pseudo }}</h5>
                                   <p class="m-0">{{recruteur?.fonction }}</p>
                               </div>
                           </div>
                           <ul class="list-group list-group-flush">
                               <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{recruteur?.email }}</a></li>
                               <li class="list-group-item"><i class="fa fa-phone float-right"></i>Numéro : {{recruteur?.numero}}</li>
                           </ul>
                           <div class="card-body">
                               <div class="float-right btn-group btn-group-sm">
                                 <a (click)="onOpenModal(recruteur, 'delete')" href="." class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash" ></i></a>
                                 
                               </div>
                              
                           </div>
                       </div>
                   
              
             <!-- Delete Modal -->
             <div class="modal fade" id="deleteRecruteurModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title" id="deleteModelLabel">Supprimer Recruteur </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <p> etes vous sur de supprimer le Recruteur {{deleteRecruteur?.prenom}}? </p>
                    <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                           <button (click)="onDeleteRecruteur( deleteRecruteur.id )" class="btn btn-danger" data-dismiss="modal">Yes</button>
                        </div>
                     </div>
                  </div>
               </div>
             </div>
            
           </div>
           </div>
           </div>